.container-section-bio {
  width: 100%;
  background-color: rgb(17, 18, 20);
}

.container-img-bio {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/optimusPrime/prime23-min.jpg");
  background-position: top;
  background-size: 300% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
  transition: 0.3s opacity ease-out;
}

.container-img-bio.scroll-active {
  opacity: 0;
  transition: 0.3s opacity ease-out;
}

.article-title {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: 0.85s transform ease-out;
}

.article-title.active-slide {
  transform: translateY(-500px);
  transition: 0.85s transform ease-out;
}

.article-title h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 100%;
  text-align: center;
  font-family: "Courgette";
  font-family: "PT Serif", serif;
  color: #f0e6d2;
  text-shadow: 0 0 20px rgb(1 10 19 / 70%);
}

.article-title h2 {
  margin-top: 0.688rem;
  font-size: 0.875;
  letter-spacing: 0.05rem;
  line-height: 100%;
  text-align: center;
  font-weight: 700;
  font-family: "Courgette";
  font-family: "PT Serif", serif;
  color: #c8aa6e;
  text-shadow: 0 0 20px rgb(1 10 19 / 70%);
}

.div-instruction {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #a09b8c;
}

.div-instruction figure{
  margin-top: 1rem;
}

.div-instruction figure img{
  width: 100%;
}

.section-bio {
  opacity: 0;
  transition: 2.5s opacity ease-out;
}

.section-bio.active-section-bio {
  opacity: 1;
  transition: 2.5s opacity ease-out;
}

.line-gold {
  width: 2px;
  height: 50px;
  margin: auto;
  background-color: #c8aa6e;
}

.rotate-div {
  width: 10px;
  height: 10px;
  margin: auto;
  transform: rotate(45deg);
  border: 2px solid #c8aa6e;
  overflow: hidden;
}
.div-title {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.div-title h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-family: "Courgette";
  font-family: "PT Serif", serif;
  color: #f0e6d2;
}

.div-title h3 {
  margin-top: 0.938rem;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 140%;
  font-weight: 700;
  font-family: "Courgette";
  font-family: "PT Serif", serif;
  color: #c8aa6e;
}

.article-container-information {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
}

.article-container-information p {
  padding: 0.5rem;
  text-align: left;
  line-height: 1.6rem;
  font-size: 1.09rem;
  letter-spacing: 0.05rem;
  color: #f0e6d2;
}

@media screen and (min-width: 400px) {
  .container-img-bio {
    background-size: 270% 100%;
  }
}

@media screen and (min-width: 520px) {
  .container-img-bio {
    background-size: 250% 100%;
  }
}

@media screen and (min-width: 560px) {
  .container-img-bio {
    background-size: 200 100%;
  }
}

@media screen and (min-width: 600px) {
  .container-img-bio {
    background-size: cover;
  }
}

@media screen and (min-width: 670px) {
  .article-container-information {
    max-width: 670px;
  }
}

@media screen and (min-width: 770px) {
  .article-title h1 {
    font-size: 3.75rem;
  }

  .article-title h2 {
    font-size: 1.7rem;
    margin-top: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .article-container-information {
    max-width: 630px;
  }
  .article-container-information p {
    padding: 0.7rem;
  }
}
