/* 
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
  }
  
  nav a figure {
    width: 10%;
  }
  
  .container-img {
    width: 16%;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a img {
    width: 100%;
  }
   */